# Laravel általános
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.backup
.env.local

# Composer lock fájl (ha nem akarod verziózni)
# composer.lock

# NPM / Yarn / Vite
npm-debug.log
yarn-error.log
pnpm-debug.log
package-lock.json

# IDE / Editor
.idea
.vscode
*.sublime-project
*.sublime-workspace

# MacOS saját fájlok
.DS_Store
.AppleDouble
.LSOverride

# Docker
docker-compose.override.yml
*.pid
*.seed
*.pid.lock